body{
    background-color: white; 
    width: 100%;
    padding: 0px;
    margin: 0px;
 }
 
 #navbar{
     position: fixed;
     width: 100%;
     height: 5.5rem;
     left: 0px;
     top: 0px;
     display: block;
     overflow: hidden;
     background: #ffffff;
     box-shadow: 0px 2px 8px rgba(127, 127, 127, 0.1);
 }
 
 
 .logo{
     margin-left: 2rem;
     margin-top: -2.9rem;
     float: left;
 }
 
 ul{
     float: right; 
     margin-top: 2rem;
     margin-right: 5%;
     width: 30%;
     align-self: center;
     
 }
 
 li{
     display: inline;
     list-style-type:none;
     padding-left: 10%;
     top: 28%;
     margin-top: 25%;
     text-decoration: none;
     align-items: center;
     font-family: 'Roboto', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 20px;
     color: #727272;
 }

a{
    text-decoration: none;
    color: #727272;
}

a:hover{
    color: #6fb3b8;
}

 #gs{
    padding: 10px;
    background-color: #6fb3b8;
    border-radius: 53px;
    text-decoration: none;
    color: #ffffff;
 }
 
 #gs:hover{
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #6fb3b8;
    color: #6fb3b8;
 }

 #main{
     background-color: #f6f6f2;
     margin-top: 5.5rem;
     margin-left: 0px;
     margin-right: 0px;
     left: 0px;
     position: static;
     right: 0px;
     width: 100%;
     height: 35rem;
     padding-top: 2rem;
 }
 
 #main1{
     margin-top: 0rem;
     width: 60%;
     height: 30rem;
     margin-left: 17rem;
     right: 0%;
 }

 #main3{
    color: #999999;
    margin-left: 12%;
    padding-top: 4rem;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
 }

 #main2{
    width: 42%;
    height: 70%;
    margin-left: 35%;
    margin-top: -10%;
 }

 #main4{
    color: #999999;
    margin-left: 50%;
    width: 44%;
    margin-top: -5.5rem;
    font-family: 'Montserrat', sans-serif;
 }
 
 #main5{
    color: #ffffff;
    margin-left: 50%;
    background-color: #6fb3b8;
    width: 13%;
    border-radius: 53px;
    text-align: center;
    height: 20px;
    padding: 15px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
 }

 #main5:hover{
    border-style: solid;
    border-width: 2px;
    border-color: #6fb3b8;
    color: #6fb3b8;
    background-color: #f6f6f2;
 }

 #trending{
     background-color: #f6f6f2;
     margin-top: 0rem;
     margin-left: 0px;
     margin-right: 0px;
     width: 100%;
     height: 37.5rem;
     position: static;
     top: 0rem;
     padding-top: 2rem;
     padding: 0rem;
 }
 
 .t-title{
     font-family: 'Roboto', sans-serif;
     margin-left: 8.5rem;
     padding-top: 0.5rem;
     font-size: 12px;
     font-weight: 200;
     font-style: normal;
     color: black;
 
 }
 
 #image-slider{
     margin-top: 0%;
     width: 75%;
     height: 29rem;
     margin-left: 11.5rem;
     border-radius: 15px;
 }

 #slider-image{
    width: 100%;
    height: 100%;
    border-radius: 15px;
 }

 .si{
    width: 100%;
    height: 100%;
    border-radius: 15px;
 }
 
 #section-read{
     background-color: #f6f6f2;
     margin-top: 0%;
     width: 100%;
     top: 80rem;
     height: 27rem;
     position: static;
     padding: 0rem;
 }

 #s-box{
     background-color: #f6f6f2;
     margin-top: 0%;
     width: 75%;
     top: 6.5rem;
     height: 18rem;
     margin-left: 11.5rem;
     border-radius: 15px;
     
 }
  
 .s-content1{
     width: 19rem;
     background-color: black;
     height: 18rem;
     float: left;
 }
 .s-content2{
     width: 19rem;
     background-color: black;
     height: 18rem;
     float: left;
     margin-left: 4.9rem;
 }
 .s-content3{
     width: 19rem;
     background-color: black;
     height: 18rem;
     float: right;
 }
 
 #post{
     background-color: #f6f6f2;
     margin-top: 0rem;
     width: 100%;
     height: 40rem;
     padding-top: 2rem;
 }
 
 #p-main{
     background-color: black;
     margin-top: 0%;
     width: 50%;
     height: 35rem;
     margin-left: 11.5rem;
     float: left;
 }

 #p-st{
     background-color: white;
     width: 20%;
     height: 20rem;
     margin-right: 11rem;
     float: right;
     margin-top: 0%;
     top: 0%;
 
 }
 
 #p-stst{
     font-family: 'Roboto', sans-serif;
     top: 2rem;
     margin-left: 1rem;
     font-size: 12px;
     font-weight: 400;
 }
 
 #footer{
     background-color: #badfe7;
     margin-top: 0%;
     width: 100%;
     top: 147rem;
     height: 2.5rem;
     position: absolute;
 }

 #cr{
    height: 2.5rem;
    width: 25%;
    margin-left: 5rem;
    float: left;
    font-size: 10px;
    font-weight: 100;
    font-style: normal;
    color: #2E5D61;

 }

 #social{
    background-color: black;
    height: 2.5rem;
    width: 25%;
    margin-right: 5rem;
    float:right;
 }